@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu' , sans-serif;
}
